<section class="post">
    <header class="post-header">
        <h2 class="post-title">
            {{this.title}}
        </h2>
        <p class="post-meta">
            {{#each this.tags}}
                <a class="post-category">{{this}}</a>
            {{/each}}
        </p>
    </header>
    <div class="post-description">
        {{{preview this.content}}} <a href="/post/{{this.id}}">read more</a>
    </div>
</section>