<section class="post">
    <header class="post-header">
        <h2 class="post-title">
            {{this.title}}
        </h2>
        <p class="post-meta">
            <a class="post-category">Tommy Quissens</a>
            <a class="post-category">Quisse</a>
            <a class="post-category">Curriculum Vitae</a>
            <a class="post-category">CV</a>
        </p>
    </header>
    <div class="post-description">
        {{this.content}}
    </div>
</section>