{{#unless published}}
    <div class="posts">
        <h1 class="content-subhead">Pinned Post</h1>
        {{#each pinned}}
            {{> postPreview this}}
        {{/each}}
    </div>
    <div class="posts">
        <h1 class="content-subhead">Recent posts</h1>
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">
                    About Tommy
                </h2>
                <p class="post-meta">
                    <a class="post-category">Tommy Quissens</a>
                    <a class="post-category">Quisse</a>
                    <a class="post-category">Curriculum Vitae</a>
                    <a class="post-category">CV</a>
                </p>
            </header>
            <div class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim massa. Integer molestie bibendum ex, sed pulvinar metus venenatis eu. Proin in nisi dolor. Etiam commodo justo elit, non porta magna consectetur quis.
            </div>
        </section>
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">
                    About Tommy
                </h2>
                <p class="post-meta">
                    <a class="post-category">Tommy Quissens</a>
                    <a class="post-category">Quisse</a>
                    <a class="post-category">Curriculum Vitae</a>
                    <a class="post-category">CV</a>
                </p>
            </header>
            <div class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim massa. Integer molestie bibendum ex, sed pulvinar metus venenatis eu. Proin in nisi dolor. Etiam commodo justo elit, non porta magna consectetur quis.
            </div>
        </section>
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">
                    About Tommy
                </h2>
                <p class="post-meta">
                    <a class="post-category">Tommy Quissens</a>
                    <a class="post-category">Quisse</a>
                    <a class="post-category">Curriculum Vitae</a>
                    <a class="post-category">CV</a>
                </p>
            </header>
            <div class="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim massa. Integer molestie bibendum ex, sed pulvinar metus venenatis eu. Proin in nisi dolor. Etiam commodo justo elit, non porta magna consectetur quis.
            </div>
        </section>
    </div>
{{/unless}}
{{#if published}}
    {{#if pinned}}
        <div class="posts">
            <h1 class="content-subhead">Pinned Post</h1>
            {{#each pinned}}
                {{> postPreview this}}
            {{/each}}
        </div>
    {{/if}}
    {{#if posts}}
        <div class="posts">
            <h1 class="content-subhead">Recent posts</h1>
            {{#each posts}}
                {{> postPreview this}}
            {{/each}}
        </div>
    {{/if}}
{{/if}}