<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog by Tommy Quissens">
    <title>Blog by Tommy Quissens</title>
    <link rel="stylesheet" href="/stylesheets/style.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/stylesheets/pure-min.css">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/stylesheets/grids-responsive-old-ie-min.css">
    <![endif]-->

    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/stylesheets/grids-responsive-min.css">
    {{{_sections.head}}}
</head>
<body>
<div class="pure-g">
    <div class="sidebar pure-u-1 pure-u-lg-1-4 pure-u-xl-1-4">
        <div class="header">
            <h1 class="brand-title header">Tommy Quissens</h1>
            <h2 class="brand-tagline">Full-Stack Web Developer</h2>

                <ul class="social">
                    <li class=""><a href="https://www.facebook.com/Quisse" class="" target="_blank" rel="noopener"><i class="fa
                    fa-facebook"></i></a></li>
                    <li class=""><a href="https://twitter.com/tommyquissens" class="" target="_blank" rel="noopener"><i class="fa
                    fa-twitter"></i></a></li>
                    <li class=""><a href="https://www.linkedin.com/in/tommyquissens" class="" target="_blank" rel="noopener"><i
                            class="fa fa-linkedin"></i></a></li>
                    <li class=""><a href="https://github.com/quisse" class="" target="_blank" rel="noopener"><i class="fa
                    fa-github"></i></a></li>
                    <li class=""><a href="https://www.instagram.com/tommyquissens/" class="" target="_blank"
                            rel="noopener"><i class="fa fa-instagram"></i></a></li>
                </ul>

            <nav class="nav">
                <ul class="nav-list">
                    {{#if user}}
                        <li class="nav-item">
                            <a class="button" href="/admin/logout">Logout</a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
    <div class="content pure-u-1 pure-u-lg-3-4 pure-u-xl-1-2">
        <div>
            {{{body}}}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        {{#unless user }}
                            <li class="pure-menu-item"><a href="/admin/login" class="pure-menu-link">Login</a></li>
                            <li class="pure-menu-item"><a href="/admin/signup" class="pure-menu-link">Signup</a></li>
                        {{/unless}}
                        {{#if user}}
                            <li class="pure-menu-item"><a href="/admin">Admin</a></li>
                            <li class="pure-menu-item"><a href="/admin/logout">Logout</a></li>
                        {{/if}}
                        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Blog</a>
                        </li>
                        <li class="pure-menu-item"><a href="https://github.com/quisse/personal"
                                class="pure-menu-link" target="_blank" rel="noopener">Find this project on Github!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<![endif]-->

<!--[if lt IE 9]>
<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
<![endif]-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74039984-1', 'auto');
    ga('send', 'pageview');

</script>
{{{_sections.foot }}}
</body>
</html>
