<h1 class="title">{{post.title}}</h1>
{{#each this.tags}}
    <a class="post-category" href="?tag='{{this}}'">{{this}}</a>
{{/each}}
<div class="post-content">
    {{{post.content}}}
</div>
<div class="button-bar">
    <a href="/" class="button">Back to overview</a>
</div>